@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  font-family: 'Poppins';
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:where(
    .css-dev-only-do-not-override-1okl62o
  ).ant-menu-dark.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-dark
  > .ant-menu.ant-menu-root.ant-menu-inline,
:where(
    .css-dev-only-do-not-override-1okl62o
  ).ant-menu-dark.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-dark
  > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: 0px solid rgba(5, 5, 5, 0.06);
  /* background-color: red; */
  top: 82px;
  /* position: fixed; */
  max-height: 75%;
  overflow-y: scroll;
}
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-dark,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-dark > .ant-menu {
  color: rgba(255, 255, 255, 0.65);
  background: rgba(53, 65, 91, 1);
}

:where(.css-dev-only-do-not-override-1okl62o).ant-layout
  .ant-layout-sider-children {
  height: 100%;
  margin-top: -0.1px;
  padding-top: 0.1px;
  background: rgba(53, 65, 91, 1);
}

:where(.css-dev-only-do-not-override-1okl62o).ant-layout .ant-layout-header,
:where(.css-dev-only-do-not-override-1okl62o).ant-layout.ant-layout-footer {
  flex: 0 0 auto;
  background: rgba(53, 65, 91, 1);
}

:where(.css-dev-only-do-not-override-1okl62o).ant-layout .ant-layout-header,
:where(.css-dev-only-do-not-override-1okl62o).ant-layout.ant-layout-footer {
  flex: 0 0 auto;
  background: rgba(53, 65, 91, 1) !important;
}
:where(.css-dev-only-do-not-override-1okl62o).ant-btn {
  color: rgba(255, 255, 255, 1);
}
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-dark
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-dark
  > .ant-menu
  .ant-menu-item-selected {
  background-color: rgba(117, 118, 118, 0.5);
}
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-dark.ant-menu-inline
  .ant-menu-item,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-dark
  > .ant-menu.ant-menu-inline
  .ant-menu-item {
  position: relative;
  padding-left: 16px !important;
  margin-bottom: 10px !important;
}
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-dark.ant-menu-inline
  .ant-menu-item,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-dark
  > .ant-menu.ant-menu-inline
  .ant-menu-item {
  position: relative;
  padding-left: 9px !important;
  margin: 0px;
  margin-bottom: 10px !important;
}
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-inline .ant-menu-item {
  height: 41px;
  line-height: 40px;
  list-style-position: inside;
  list-style-type: disc;
  width: 100%;
}
:where(.css-dev-only-do-not-override-1okl62o).ant-menu .ant-menu-item,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu .ant-menu-submenu,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu .ant-menu-submenu-title {
  /* border-radius: 8px; */
  border-radius: 0px !important;
}
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-inline.ant-menu-root
  .ant-menu-item
  > .ant-menu-title-content,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-inline.ant-menu-root
  .ant-menu-submenu-title
  > .ant-menu-title-content {
  font-family: "Poppins";
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}
:where(.css-dev-only-do-not-override-1okl62o).ant-layout-content {
  margin: 0px !important;
}

/* :where(.css-dev-only-do-not-override-1okl62o).ant-menu-dark.ant-menu-inline .ant-menu-item, :where(.css-dev-only-do-not-override-1okl62o).ant-menu-dark>.ant-menu.ant-menu-inline .ant-menu-item {
  position: relative;
  margin-bottom: 21px;
} */

:where(.css-dev-only-do-not-override-1okl62o).ant-menu
  .ant-menu-item
  .ant-menu-item-icon,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu
  .ant-menu-submenu-title
  .ant-menu-item-icon {
  height: 20px;
}
:where(.css-dev-only-do-not-override-1okl62o).ant-layout-header {
  height: 64px;
  padding: 0 50px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 25px;
  background: #001529;
}
  .table{
    width: 20% !important;
  }
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin: 0px auto;
  row-gap: 40px;
}
.card {
  height: 112%;
  position: relative;
  width: 91%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 8px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  /* height: 40%; */
}

.cardgap {
  position: absolute;
  /* left: -66%;  */
  top: 2vw;
  /* height: 26px; */
  width: 9%;
}
.card-right {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
}

.cardText {
  margin-top: 4px;
  font-size: 1.1vw;
  line-height: 30px;
  font-weight: 500;
  font-family: poppins;
  text-align: left;
  margin-bottom: 0px;
}

.cardNum {
  text-align: left;
  height: 30px;
  width: 21px;
  font-size: 1.6vw;
  line-height: 30px;
}
.my-card {
  border: 1px solid #f1f1f1;
  width: 35vw;
  padding: 0 2rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  border-radius: 8px;
}
.card-body {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}
.card-head {
  margin-bottom: 15px;
}

.header {
  padding: 0px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-right: 40px !important;
  /* align-items: center; */
  height: 11% !important;
}

.userlogin {
  /* background-color: white; */
  height: 80%;
  width: 8%;
  margin-left: 20px;
}

.loginhover {
  position: relative;
  display: none;
  /* height: 20vh; */
  width: 14%;
  height: 23%;
  background-color: rgba(255, 255, 255, 1);
  /* background-color:rgb(158, 55, 55); */
  /* z-index: 1;
  margin-right: 50px;
  float: right;
 position: relative; */
  z-index: 1;
  left: 85vw;
  top: 9.5vh;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px 20px;
}

.logintop {
  display: flex;
  /* gap: 40px; */
}

.login2 {
  height: 10%;
}
.loginbottom {
  padding-left: 12px;
}

select {
  padding: 3px 0px;
  border-radius: 20px;
}

.userlogin:hover + .loginhover,
.loginhover:hover
{
  display: block;
}

/* .ant-menu-submenu-title{
  padding-left: 1.9px !important;
} */
/* .ant-menu-item-icon{
padding-left: 25px !important;
} */

/* .ant-menu-submenu-vertical{
  padding-left: 0px !important;
} */

.collapsed-settings {
  padding-left: 2px !important;
}

.ant-menu-submenu-title,
.expanded-settings {
  padding-left: 4px !important;
}

:where(.css-dev-only-do-not-override-1okl62o).ant-menu-inline-collapsed
  > .ant-menu-item,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-item,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-submenu
  > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-inline-collapsed
  > .ant-menu-submenu
  > .ant-menu-submenu-title {
  inset-inline-start: 0;
  padding-inline: calc(50% - 8px - 4px);
  text-overflow: clip;
  padding-left: 5px;
}


:where(.css-dev-only-do-not-override-1okl62o).ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline, :where(.css-dev-only-do-not-override-1okl62o).ant-menu-dark>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background-color: rgba(53, 65, 91, 1);
}


/* content2 */
.profile_main {
  max-width: 80%;
  min-height: 80vh;
  margin: 0px auto;
}
#profile-detail-select {
  width: 99% !important;
  padding: 1.4%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.personal-detail-button{
  margin: 8px 42%;
}

.profile-detail-name{
  /* margin-top: 4%; */
  padding: 3px;
  margin-top: 8vh;
}

.profile-detail label{
  color: rgba(30, 30, 30, 1);
  font-size: 1.3vw;
    font-weight: 500;
    font-family: 'Poppins';
    margin-bottom: 5px;
}

.profile-detail p {
  font-size: 1vw;
  font-weight: 400;
  font-family:'Poppins';
}


/* fieldset p {
  margin: 4px 0px;
} */

.profile-left{
  width: 100%;
  display: flex;
  /* background-color: red; */
  gap: 40px;

}

.profile-left .left{
  width: 50%;
  /* background-color: lightcoral; */
}
.profile-left input{
  width: 99%;
  padding: 2%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.profile-left .right{
  width: 50%;
  /* background-color: lightgrey; */
}

.profile-right{
  display: flex;
  width: 100%;
  gap: 40px;
  /* background-color: yellow; */
}
.profile-right .left{
  width: 50%;
  /* background-color: lightcoral; */
}
.profile-right input{
  width: 99%;
  padding: 2%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.profile-right .right{
  width: 50%;
  /* background-color: lightgrey; */
}
.personal-detail-button {
  width: 12vw;
  margin: 7px 39%;
  display: flex;
  gap: 10px;
}
.personal-detail-button-btn {
  padding: 0.5vw;
  width: 7vw;
  border-radius: 5px;
  background-color: rgba(53, 65, 91, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 1vw;
}


/* container 3 */
.userMainContainer{
  padding: 0px 2vw;
  margin-top: 11vh;
}
.userMainContainer_first{
  display: flex;
  justify-content: space-between;
}
.userMainContainer_first-search{
  position: relative;
}
.userMainContainer_first-search img{
  position: absolute;
  left: 85%;
  top: 25%;
  right: 20%;

}
.userMainContainer_second{
  padding: 1% 3%;
  margin: -1%;
}
.userMainContainer_third{
  margin-top: 4%;
}
.userMainContainer_third p
   {
    margin-top: 0;
    margin-bottom: -1rem;

}
/* .ant-switch-inner{
 
} */

.totalbookingText{
  text-align: center;
}

:where(.css-dev-only-do-not-override-1okl62o).ant-table-wrapper .ant-table {
 background-color: rgba(163, 163, 163, 0.2);
}
:where(.css-dev-only-do-not-override-1okl62o).ant-pagination .ant-pagination-item-active {
 
  background-color:rgba(232, 162, 25, 1);

}

 .ant-table-thead > tr > th {
 
  background-color:rgba(163, 163, 163, 0.4) !important;
}

.ant-table-tbody > tr:nth-child(odd) {
  background-color: rgba(163, 163, 163, 0.2); /* Light gray background for odd rows */
}

.ant-table-tbody > tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 1) ;/* White background for even rows */
}
.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: transparent !important; /* Inherit the background color to prevent changes on hover */
}
.ant-switch-checked{
  background-color:rgba(55, 158, 38, 1) !important;
}

.tabletext{
  font-family:"Poppins" ;
  font-weight: 400;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.link-style {
  text-decoration: none;
}
 a:active {
  text-decoration: none;
  color: red;
}
a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

/* Style for active links */
.menu-item-active {
  color: rgba(240, 126, 1, 1);
  background-color: rgba(30, 30, 30, 0.89);
  border-radius: 10px;
}
.firstPagination{
  text-align: end;
}
/* Table1.css */




/* Hide the scrollbar by default */
/* .table-wrapper {
  overflow-x: hidden;
}


.table-wrapper .ant-table {
  min-width: 100%;
}

.table-wrapper .ant-table-content {
  min-width: 60rem; 
}

.table-wrapper .ant-table {
  overflow-x: auto;
}

.table-wrapper::-webkit-scrollbar {
  display: none;
}

.table-wrapper .ant-table:hover::-webkit-scrollbar {
  display: block; 
}

.table-wrapper::-webkit-scrollbar-thumb {
  display: block; 
}
.table-wrapper {
  overflow-x: auto;
  padding-bottom: 1rem;
} */

:where(.css-dev-only-do-not-override-1okl62o).ant-table-wrapper .ant-table {
  
 
  scrollbar-color: rgba(228, 15, 15, 0.25) rgb(158 32 32 / 6%);
  scrollbar-width: 10vw;
  
}




/* content4 */


.userDetailMainContainer_top{
  width:100vw;
 display: flex;
}
.userDetailMainContainer_top-walletLeft{
  width: 23vw;
  height: 100%;
 
}
.userDetailMainContainer_top-walletRight{
  width: 60vw;

}
.card-img, .card-img-bottom, .card-img-top {
  width: 30%;
  align-content: center;
  margin: auto;
}
.card-body {
  flex:none !important; 
   padding:8px !important;
  /* color: var(--bs-card-color); */
}
.userDetailMainContainer_top-walletLeft .card{
  text-align: center;
  background-color: rgba(53, 65, 91, 0.44);
  width: 19vw;
    /* height: 88vh; */
    height: 65vh;
}
.userDetailMainContainer_top-walletLeft .card-text{
  font-size: 1.5vw;
    font-weight: 400;
}
.userDetailMainContainer_top-walletLeft .card-title{
  font-size: 1.8vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

.btn-primary {
 color: rgba(255, 255, 255, 1) !important;
 font-family: "Poppins";
 font-weight: 500;
 font-size: 1vw;
  /* --bs-btn-bg: #0d6efd; */
  background-color: rgba(240, 126, 1, 1) !important;
  border: none;
}


.userDetailMainContainer_top-walletRight {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; Align children to the right */
  padding: 2vh; /* Add some top padding */
  width: 100%;
}

.navMenu {
  height: 13vh;
  width: 59vw;
  background-color: rgba(53, 65, 91, 1);
  ;
  font-size: 1.1vw;
  font-weight: 500;
  text-decoration: none;
}
:where(.css-dev-only-do-not-override-1okl62o).ant-menu .ant-menu-title-content {
  /* transition: color 0.3s; */
  color: rgba(255, 255, 255, 1) !important;
}
:where(.css-dev-only-do-not-override-1okl62o).ant-table-wrapper {
  clear: both;
  /* max-width: 100%; */
 
}
.content {
  margin-top: 2vh; /* Add some space between the menu and content */
  color: black; /* Adjust the color as needed */
}
.ant-menu-overflow-item {
  display: flex;
  align-items: center;
}
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-horizontal .ant-menu-item, :where(.css-dev-only-do-not-override-1okl62o).ant-menu-horizontal .ant-menu-submenu {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  padding-inline: 2vw;
}
.userDetailMainContainer_bottom-footer{
 display: inline-block;
}

:where(.css-dev-only-do-not-override-1okl62o).ant-divider-horizontal {
  
 
 margin: 0px !important;
}
.card-img, .card-img-bottom, .card-img-top {
  width: 30%;
  align-content: center;
  /* margin: auto; */
  margin: 1vw auto;
}

.card {
  /* height: 112%; */
  position: relative;
  width: 91%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 8px;
  margin-top: 5px;
  display: flex;
 justify-content: flex-start !important;
  /* height: 40%; */
}

.searchicon img{
  position: absolute;
  left: 85%;
  top: 25%;
  right: 20%;

}

.custom-pagination{
  text-align: center !important;
}
.userDetailMainContainer_bottom-footer {
  display: inline-block;
  margin-top: -4.9%;
}

.ant-menu-horizontal .ant-menu-item:hover {
  background-color: transparent !important;
  border-bottom: none !important;
}
:where(.css-dev-only-do-not-override-1okl62o).ant-table-wrapper .ant-table-cell, :where(.css-dev-only-do-not-override-1okl62o).ant-table-wrapper .ant-table-thead>tr>th, :where(.css-dev-only-do-not-override-1okl62o).ant-table-wrapper .ant-table-tbody>tr>th, :where(.css-dev-only-do-not-override-1okl62o).ant-table-wrapper .ant-table-tbody>tr>td, :where(.css-dev-only-do-not-override-1okl62o).ant-table-wrapper tfoot>tr>th, :where(.css-dev-only-do-not-override-1okl62o).ant-table-wrapper tfoot>tr>td {
  position: relative;
  padding: 10px 16px !important;
  overflow-wrap: break-word;
}



/* users table2 */
.table-responsive .table {
  width: 59vw !important;
}

.badge-success{
  background-color: rgba(4, 184, 87, 1);
  color: rgba(255, 255, 255, 1);
  padding: 5px 7px;
  width: 80%;
}
.badge a, a:link, a:visited{
  color: white;
  font-weight: 500;
}

.badge-danger{
  background-color:rgba(224, 68, 14, 1);
  width: 80%;
  padding: 5px 7px;
}

.table-dark {
  --bs-table-color: rgba(0, 0, 0, 1);
  --bs-table-bg:rgba(163, 163, 163, 0.4);
  font-weight: 400;
 

}

.table-change th {
  font-weight: 400 !important;
  color: black;
  border-bottom: none;
  height: 8vh;
 
}

/* :where(.css-dev-only-do-not-override-1okl62o).ant-table-wrapper table {
  width: 80vw;
  
} */
.custom-table {
  width: 59vw;  /* Adjust the width as needed */
  margin-top: 18px;
  border-radius: none;
}
.custom-table th{
  border-radius: 0px !important;
}